@import "./var";
@mixin btnHome($btnColor:white,$height:35px,$width:120px) {
    height: $height;
    width: $width;
    border-color: $btnColor;
    border-radius: 5px;
    background: transparent;
    color:$btnColor;
    border-style: solid;
    
}
@mixin centerxy {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Homepage{
position: relative;
scroll-behavior: smooth;
}

.Header{
background-image:url("https://b.rgbimg.com/users/a/am/ambroz/600/mSFNA9I.jpg") ;
height: 100vh;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
color: #f5f0f1;

    &-nav{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
        &-logo{
        margin-left: 80px;
        font-size: 35px;
        }

        &-hef{
            display: flex;
            margin-right: 80px;
            align-items: center;
            gap: 35px;
        }
    }
    &-content{
        @include centerxy();
         flex-direction: column;
         padding-top: 20vh;
            &-n1{
            font-size: 70px;
        }
            &-n2{
            font-size: 25px;
            color: #d4d4d4;
        }
            &-n3{
            padding-top: 60px;
            
        }
    }
  
}

.btnHome{
    @include btnHome();
}


.Table{
    @include centerxy();
  position: relative;
  padding-bottom: 70px;
        &-content{

            display: flex;
            width: 70vw;
            background-color: white;
            height: 100px;
            border-radius: 5px;
            position: absolute;
            top:-50px;
            box-shadow: 0px 10px 20px grey; 
            &-flex{
                flex: 1;
                @include centerxy();
                flex-direction: column;
                border-right:  2px solid #a6a3a2;
                margin-top: 20px;
                margin-bottom: 20px;
                &:last-child{
                    border-right:  none;

                }
                    &-num{
                        font-size: 30px;
                    }
                    &-title{
                        color: #a6a3a2;
                    }


            }
        }
}

a {
    text-decoration: none !important;
    color: none;
  }
.content{

    &-title{
        padding-top: 70px;
        @include centerxy();
        flex-direction: column;
        color: #a6a3a2;
        &-a{
            font-size: 30px;
        }
  

    }
    &-destination{
        display: flex;
        padding: 0 10vw;
        flex-wrap: wrap;
    }
    &-btn{
        @include centerxy();
        padding: 50px 0;
        &-a{ 
            @include btnHome(black,50px,280px);
            border-color: #a6a3a2;
            font-weight: 500;
        }
       
    
    }
}
#a{min-width: 790px;}
.destinations{
    margin: 10px;
    padding: 20px;
    max-height: 320px;
    min-width: 320px;
    width: 320px;
    flex: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    color: white;
    &:hover {
        transform: translateY(-5%);
        transition: all 0.45s ease 0s;    }
    
    // flex-shrink: 0;
    &-btn{
        @include btnHome($btnColor,38px,70px);
        background-color:$btnColor;
        color: white;

        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &-dest{
        margin: 0;
        padding-top: 180px;
        font-size: 27px;
    }&-country{
        font-size: 18px;
        text-align:start;  
  }
}

.content1{
    background-image: url("https://images.snapwi.re/721c/5bcb1b1367e10c80f66b98e4.w800.jpg") ;
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f5f0f1;
   
        @include centerxy();
         flex-direction: column;
            &-n1{
            font-size: 70px;
        }
            &-n2{
            font-size: 25px;
            color: #d4d4d4;
        }
        &-n3{
            padding-top: 60px;
            &-btn{

                @include btnHome($btnColor,50px ,280px );
                color: white;
                font-weight: 500;
                background-color:$btnColor ;

            }
        }
}

.boat{

    margin: 10px;
    height: 320px;
    min-width: 440px;
    flex: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    color: white;
    position: relative;
    & > img {
        width: 100%;
        height: 100%;
        vertical-align: middle;
        transition: all 0.45s ease 0s;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 4px;
      }
    // flex-shrink: 0;
    &-overlay{
        position: absolute;
        top: 0;
        left: 0;
    
        display: flex;
        justify-content: space-around;
        align-items: center;

        width: 100%;
        height: 100%;
        padding: 1rem;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
        transition: all 0.45s ease 0s;
        &-btn{
            
            font-weight: 500;
        }
        &-btn:first-child{
            @include btnHome(#f5f0f1,38px,100px);
            &:hover{
                @include btnHome(#3ddb68,38px,100px);
                background-color: #e6ebe7;
            }
        }
        &-btn:last-child{
            @include btnHome(#3ddb68,38px,100px);
            &:hover{
                @include btnHome(#e6ebe7,38px,100px);
                background-color: #3ddb68;
            }
        }
    }
    &-btn{
        @include btnHome($btnColor,38px,100px);
        background-color:$btnColor;
        color: white;
        margin: 10px 0 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
    }
    &-boatname{
        margin: 0;
        padding-top: 180px;
        font-size: 27px;
        padding-left: 10px;
    }&-detail{
        font-size: 18px;
        text-align:start;  
        display: flex;
        align-items: center;
        padding-left: 10px;
        p{
            margin-right: 30px;
            display: flex;
            align-items: center;
        }     
    }
    // background-color: rgba(0, 0, 0, 0.8);
    &:hover img {
        cursor: pointer;
         transform: scale(1.06 , 1.06);

        }

        &:hover &-overlay {
        opacity: 1;
        transform: scale(1.06 , 1.06);

        }
}


.photo {
    position: relative;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    overflow: hidden;
  
    & > img {
      width: 100%;
      vertical-align: middle;
      transition: all 0.45s ease 0s;
      height: 100%;
    }
  
  
  
    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
  
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
  
      width: 100%;
      height: 100%;
      padding: 1rem;
  
      color: rgba(255, 255, 255, 0.8);
      background-color: rgba(0, 0, 0, 0.8);
      opacity: 0;
      transition: all 0.25s ease 0s;
    }
  
    &__actions {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      margin-top: 1rem;
      opacity: 0;
      transition: all 0.35s ease 0s;
      transform: translateY(1rem);
  
      & > div {
        width: 50%;
        padding: 0 0.5rem;
      }
  
      button {
        width: 100%;
      }
    }
  
    // When hover on photo card
    &:hover {
      cursor: pointer;
      transform: scale(1.35 , 1.35);
    }
  
    
  
    &:hover &__overlay,
    &:hover &__actions {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

.footer{
    padding: 30px 10vw;
    background: #444747;
    color: white;
    display: flex;
    &-list{
        list-style: none;
        flex: 1;
       li:first-child{
            font-weight: 500;
            padding-bottom: 10px;
           
        }
        li{
            padding: 5px 0;
        }
        
    }
    &-list3{
        flex: 2;
        &-icon{
            display: flex;
            padding-top: 30px;
            gap: 20px;
            &-a{
                height: 50px;
                width: 50px;
                border-radius: 50%;
                background-color: #aeb0b0;
                @include centerxy();
                font-size: 30px;
            }
        }
    }
}

